body {
    background-color: grey;
}

h1 {
    text-align: center;
    color: white;
    border: 2px solid;
    background-color: black;
    margin: 20px
}

.nombre {
    border: 2px solid;
    background-color: black;
    color: white;
    padding: 20px;
    margin: 20px
}