* {
    background-color: black;
}

h1 {
    background-color: blue;
    color: white;
    border
}

h2 {
    background-color: blue;
    color: white;
}

p {
    color: white;
}

mark {
    color: yellow;
}

blockquote {
    border-left: 4px solid blue;
    padding-left: 10px;
    margin-left: 20px;
    font-style: italic;
    background-color: black;
}

.cabecera {
    text-align: center;
    border: 2px solid; color: red;
    margin: 10px;
    background-color: black;
}

.cabecera a {
    color: red;
    text-decoration: none;
    margin: 50px;
}