html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.titulo {
  background: green;
  color: white;
  text-align: center;
  padding: 20px;
  margin: 0;
}

h2 {
  background: red;
  color: white;
  text-align: center;
  padding: 20px;
  margin: 0;
}

h3 {
  background: red;
  color: white;
  text-align: center;
  padding: 20px;
  margin: 0;
}

h4 {
  background: red;
  color: white;
  text-align: center;
  padding: 20px;
  margin: 0;
}

.logo {
  display: flex;
  justify-content: center;
}

.galeria {
  background-color: red;
}

.imagenes {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.imagenes {
  text-align: center;
}

.imagenes img {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 5px solid green;
}

.imagenes p {
  color: green;
  margin-top: 5px;
}

.menu-superior {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: green;
  padding: 12px;
}

.menu-superior a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.descarga {
  border: 2px solid red;
  background-color: green;
  width: 130px;
  margin: 20px;
  text-align: center;
}

a:link { color: white; }
a:visited { color: red; }
a:hover { color: yellow; text-decoration: underline; }
a:active { color: blue; }

.service-item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.form-section {
  width: 90%;
  max-width: 500px;
  margin: auto;
  padding: 40px;
  background: white;
  border-radius: 10px;
  margin-top: 30px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border: 2px solid green;
  border-radius: 6px;
  font-size: 15px;
}

.btn:hover {
  background: #1558b0;
}

.menu-inferior {
  margin-top: auto;
  background: #222;
  color: white;
  padding: 20px;
  text-align: center;
}

.menu-inferior a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

/*   DISEÑO RESPONSIVE PARA MÓVIL */

@media (max-width: 768px) {

.menu-superior {
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.titulo, h2, h3, h4 {
  font-size: 22px;
  padding: 15px;
}

.logo img {
  width: 250px;
  height: auto;
}

.imagenes {
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.imagenes img {
  width: 90%;
  max-width: 280px;
  height: auto;
}

.form-section {
  width: 95%;
  padding: 20px;
}

input, textarea {
  font-size: 14px;
}

.menu-inferior {
  font-size: 14px;
}
}
